* {
    box-sizing: border-box;

}



.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    padding: 20px;
}
.box {
    background-color: black;
    width: cover;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.second {
    background-color: orange;
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.first {
    background-color: gray;
    width: 95%;
    height: 60px;   
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.redBox{
    background-color: red;
    height: 30px;
    margin: 10px;
}
.contain {
    width: 20%;
}

.medium  {
    width: 60%;
}

.third  {
    background-color: yellow;
    width: 95%;
    height: 30px;
    margin: 10px;
}

.containerTwo {
    background-color: black;
    width: cover;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 15px 0 15px
}

.fourth {
 background-color: gray;
 height: 80%;
width: 63%;
margin: 10px;
display: flex;
flex-wrap: wrap;
padding: 10px 10px
}

.five {
    width: 33%;
    background-color: rgb(252, 62, 62);
    height: 80%;
    padding: 15px 15px;
}



.contain1 {
    background-color: rgb(18, 82, 245);
    width: 46%;
    height: 30px;
    margin: 10px;
}



.contain2 {
    background-color: lightblue;
    width: 95%;
    height: 30px;
    margin: 10px;
    padding: 10px 15px;
}

.yellow{
    background-color: yellow;
    width: 95%;
    height: 30px;
    margin: 10px
}

.containerThree {
    background-color: black;
    width: cover;
    height: 100px;
    margin-top: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.third2  {
    background-color: rgb(219, 219, 21);
    width: 95%;
    height: 30px;
    margin: 10px;
}


